.welcomeText {
  h3 {
    color:#fff;
    width:55%;
    margin-top:-65px;
    margin-bottom:50px;
    padding-bottom:20px;
    margin-left:0;
    p {
      font-size: 1rem;
    }
    p:nth-child(2) {
      width:90%;
    }
    p:nth-child(3) {
      width:80%;
    }
    p:nth-child(4) {
      width:83%;
    }
  }
  .joinButton {
    position:relative;
    top:40px;
  }
}