.cvThemes {
  
  padding-top:20px;

  img {
    margin-right:20px;
    cursor:hand;
    cursor:pointer;
  }

  span {
    span {
      font-weight:bold;
    }
    .black {
      color:#000;
    }
    .teal {
      color:teal;
    }
  }

  img.black {
    border:2px #000 solid;
  }
  img.teal {
    border:2px teal solid;
  }
  img.selectedStyle {
    border-width:4px;
    margin-top:1px;
  }
}

.form {
  p {
    font-size:1rem;
  }
  h2 {
    text-align:left !important;
    margin-bottom:0;
  }
  label {
    margin-right:25px;
  }
}

.community-content {
  align-items: center;
  justify-content: center;
}
