.welcome {
  background: top center url("/images/welcome-bg-mobile.png");
  background-size: 698px 789px;
  height: 789px;

  /* DELETE AFTER CONTENT */
  margin-bottom: 500px;

  .tagline {
    color: $secondary-text;
    margin-top: 50px;
  }

  .title {
    width: 320px;
  }

  .subtitle {
    width: 200px;
  }

  .welcomeActions {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    padding: 0 40px;

    .btn:not(:first-child) {
      margin-top: 40px;
    }
  }
}

@media (min-width: 576px) {
  .welcome {
    background: top center url("/images/welcome-bg.png");
    background-size: 3840px 775px;
    height: 775px;

    .tagline {
      color: $secondary-text;
      margin-top: 140px;
    }

    .title {
      width: 540px;
    }

    .subtitle {
      width: 487px;
    }

    .welcomeActions {
      flex-direction: row;
      margin-top: 57px;

      .btn:not(:first-child) {
        margin-left: 20px;
        margin-top: 0px;
      }
    }
  }
}
