

.bg-hero {
  width: 100%;
  height:42rem;
  color: white;
  background-color: $base-color;
  margin-top: 0;   
}


.page-home {
    .text {color: $secondary-text;}

}




// bullets
// li::before {content: "\2022"; color: red};
// li {display: inline-block; width: 1em;}




