.welcome {
  background: top center url('/images/welcome-bg-mobile.png');
  background-size: 698px 789px;
  height: 789px;

  .tagline {
    color: $secondary-text;
    margin-top: 50px;
  }

  .title {
    width: 320px;
    font-weight: 800;
  }

  .subtitle {
    width: 200px;
    font-weight: 200;
  }

  .welcomeActions {
    display: flex;
    flex-direction: column;
    margin-top: 280px;
    text-align: center;
    padding: 0 40px;

    .btn:not(:first-child) {
      margin-top: 40px;
    }
  }
}
.mission {
  display: flex;
  flex-direction: column;
  text-align: center;
  // padding: 0 176px;
  margin-top: 81px;
  margin-bottom: 50px;
  .subtitle {
    font-size: 22px;
    line-height: 1.8rem;
    font-weight: 300;
    position: relative;
  }
}

.greenHighlightStart {
  &:before {
    content: '';
    width: 34px;
    height: 13px;
    position: absolute;
    top: 1px;
    background: #7beec4;
    z-index: -1;
  }
}

.greenHighlightEnd {
  &:before {
    content: '';
    width: 34px;
    height: 13px;
    position: absolute;
    top: 1px;
    right: 0px;
    background: #7beec4;
    z-index: -1;
  }
}

.howItWorksWrapper {
  padding: 52px 0 78px;
  background-color: $grey-background;

  .joinButton {
    text-align: center;
    margin-top: 60px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li {
      flex-basis: 33%;
      text-align: center;
      padding: 0 12px;

      &:not(:first-child) {
        margin-top: 64px;
      }
    }
  }

  @media (min-width: 576px) {
    ul {
      flex-direction: row;
      li {
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }
}

.li {
  display: flex;
  justify-content: center;
  width: 300px;
}
// desktop
@media (min-width: 576px) {
  .welcome {
    background: top center url('/images/welcome-bg.png');
    background-size: 3840px 775px;
    height: 775px;

    .tagline {
      color: $secondary-text;
      margin-top: 140px;
    }

    .title {
      width: 540px;
    }

    .subtitle {
      width: 487px;
    }

    .welcomeActions {
      flex-direction: row;
      margin-top: 57px;

      .btn:not(:first-child) {
        margin-left: 20px;
        margin-top: 0px;
        text-decoration: none;
      }
    }
  }
}

// community
.community {
  display: flex;
  flex-direction: column;
}
.comunity-txt {
  text-align: center;
}
.community-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .community h2 {
    text-align: right;
    width: 100%;
  }
  .community-content {
    flex-direction: row;
  }
  .comunity-txt {
    text-align: right;
    max-width: 443px;
  }
  .img-container {
    flex-shrink: 0;
  }
}

// industries
.industries {
  padding: 66px 0;
  background-color: $grey-background;
}
.industries ul {
  width: 65%;
}
@media (min-width: 576px) {
  .industries ul {
    text-align: center;
  }

  .industries ul li {
    display: inline-block;
    padding-left: 10px;
  }
}

.industries ul li {
  margin-bottom: 20px;
  color: $tertiary-text;
  font-size: 20px;
}

.industries ul li:not(:last-child)::before {
  content: '\2022';
  color: $primary-brand;
  padding-right: 10px;
}
.industries ul li:last-child::before {
  content: '\002B';
  color: $primary-brand;
  padding-right: 10px;
  font-weight: 900;
}

.diagonal-line {
  background: $secondary-brand;
  position: relative;
  padding-top: 50px;
}
.fill-white {
  fill: #fff;
}
// organizing
.organizing {
  height: 300px;
  // padding: 0 125px;
}

//  section numbers
.seperator {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.section-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.section-numbers h1 {
  width: 40%;
}
.column {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.numbers {
  color: $primary-brand;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.02em;
}
.section-numbers .list-item {
  text-align: center;
  display: flex;
  width: 70px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.icon-container {
  height: 49px;
  margin-bottom: 26px;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 576px) {
  .list-item img {
    margin-bottom: 14px;
  }

  .icon-container {
    margin-bottom: 10px;
  }

  .section-numbers {
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .column {
    width: 60%;
  }
}
