.bg-hero {
  width: 100%;
   // add vh instead of height
  height:100vh;
  // height:42rem;
  color: white;
  background-color: $base-color;
  margin-top: 0;
}
.hero-text{
  // padding:25vh 0;
  text-align: left;
}
.hero-text > .intro
 {color: $secondary-text;}


.header{
font-weight: 800;
// font-size: 42px;
font-size:2vw;
line-height: 120%;
text-decoration:none;}

.sub-header{
  font-size:1.2vw;
  font-weight: 300;
}

.hero-text> .buttons{
  display: inline-block;
  text-decoration: none;
 
}





