
.table-content li {
    display: list-item
}
.table-content li a {
    color:$primary-text;
}

strong{
      font-weight: bold;
}

// .small-txt{
// color:$tertiary-text;
//  font-weight: 200;
//  font-size: 14px;
// }