footer {
  width: 100%;
  color: white;
  background-color: $secondary-brand;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social-links ul li {
    margin-left: 20px;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: white;
    padding: 0 0.5em;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
    margin-right: 0.2em;
  }
}
.social-links {
  align-items: center;
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 64px;
}

.footer-logo {
  background: url('/images/logo-mtor.png');
  background-size: 115px 40px;
  background-repeat: no-repeat;
  width: 35px;
  height: 40px;
  display: block;
}

@media (min-width: 576px) {
  .footer-logo {
    width: 115px;
  }
}

// @media (min-width: 576px) {
//   .footer-logo {
//     width: 115px;
//   }
// }
.divider {
  border-top: 0.3px solid rgba(255, 255, 255, 0.25);
  margin: 0 100px;
}
.footerWrapper {
  padding: 45px 0 5px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .links {
    width: 100%;
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    ul li {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
}
@media (min-width: 667px) {
  .footerWrapper {
    flex-wrap: nowrap;
    .links {
      order: 0;
      ul li {
        display: inline-block;
        text-align: center;
        padding: 5px 0;
      }
    }
  }
}
